<section class="bg-blue-100 flex justify-between items-center px-2 header_home" dir="ltr">
    <div class="flex items-center space-x-2">
        <div>
            <img src="/fitmarket.webp" width="50" alt="">
           
        </div>
            <p-button label="ورود" routerLink="/auth/login" icon="pi pi-sign-in" />
    </div>
    <div class="flex space-x-2">
        <p-button icon="pi pi-heart" aria-label="Save" />
        <p-button icon="pi pi-shopping-cart" aria-label="Save" />
        <p-button icon="pi pi-search" aria-label="Save" />
        <p-button icon="pi pi-bars" aria-label="Save" />
    </div>
</section>
