<div class="flex  w-full flex-col max-w-[1780px]" dir="rtl">
      <h1 class="md:text-white text-white bg-gray-800 border-2 rounded-l-full px-5 md:mt-8 py-3 inline-block text-right font-bold max-w-40">محصولات جدید</h1>
      <div class="flex py-4 bg-slate-50 border border-gray-950 border-dashed rounded-tr-2xl rounded-br-2xl  px-4 mr-10 w-auto overflow-x-auto overflow-hidden my-5 new-product-home custom-scroll">
        @for (product of newProducts; track product.id) {
          <app-card-products 
          [product]="product">
        </app-card-products>
        }
        <button pButton routerLink="/products" class=" bg-gray-950 space-x-4 px-7 py-3 mr-5 rounded-xl justify-center place-self-center flex items-center"> 
          <span class="">
            نمایش بیشتر
          </span>
          <svg class="text-white" size="40" data-p-icon="angle-left"></svg>
      </button>
      </div>
        
</div>

