

.custom-scroll::-webkit-scrollbar {
    height: 6px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 999px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: transparent;
}