.table-order .p-datatable-header{
    background-color: var(--color-indigo-300);
    border-radius: 25px 25px 0px 0px;
}
.table-order .p-datatable-header{
    background-color: var(--color-indigo-400);
    border-radius: 25px 25px 0px 0px;
    padding: 20px 25px;
}
.table-order .p-datatable-header .p-button{
background-color: var(--color-indigo-100);
color: var(--color-indigo-800);
margin: 0px 5px;
}
.table-order .p-datatable-thead th{ 
    background-color: var(--color-indigo-200);
    border-top: solid 2px var(--color-indigo-900);
    color: var(--color-indigo-800);
    
}

.table-order .p-datatable-tbody td{
    background-color: var(--color-indigo-100);
    color: var(--color-indigo-900);
    border: 1px solid var(--color-indigo-100);
}