

.avatar {
  --p-avatar-background: rgba(0, 0, 0, 0);
  --p-avatar-group-border-color: var(--color-black);
  --p-avatar-color: var(--color-indigo-800);
  --p-avatar-icon-size: 20px;
  
}

.button{
    --p-button-primary-background:rgba(255, 0, 0, 0);
    --p-button-primary-color:rgb(0, 0, 0);
    --p-button-primary-border-color:rgba(255, 255, 255, 0);
    --p-button-primary-hover-background:rgba(194, 193, 193, 0.289);
    --p-button-primary-hover-color:var(--color-slate-300);
    --p-button-primary-active-background:rgba(255, 255, 255, 0.597);
    --p-button-primary-active-color:white;
    --p-button-primary-hover-border:rgba(255, 0, 0, 0);
}
