<div class="w-full min-h-screen bg-white md:py-7 justify-center  flex gap-4 mt-0 px-4 pb-8" dir="rtl">
  <div class="">
    <div class="md:hidden">
      <app-search
  [showNotification]="false"
  (backClick)="goBack()"
/>
    </div>
    
    <div class="filters_products flex bg-white md:hidden justify-around  basis-2/6 shrink-0">
      <div class="flex justify-center">
        <p-drawer [(visible)]="visible" header="فیلترها" [fullScreen]="true">
          <app-filter-products (filtersChange)="onFiltersChange($event)" />
        </p-drawer>
        <button type="button" class="button_mobile" pButton iconOnly (click)="visible = true">
          <span>فیلتر</span>
          <svg class="text-gray-500 font-bold cursor-pointer" [size]="20" [pIcon]="icons[0]"></svg>

        </button>
      </div>
      <div class="flex justify-center">
        <p-drawer [(visible)]="visibleBottom" header="مرتب‌سازی" position="bottom" [style]="{ height: 'auto' }">
  <div class="flex flex-col w-full mt-3">
    @for (item of filter_button_info; track item.id) {
      <button
      pButton
      class="button_relevant"
      [class.active]="selectedSortId === item.id"
      [outlined]="selectedSortId !== item.id"
      (click)="selectSort(item)"
    >
      <span class="flex items-center justify-between w-full">
        {{ item.name }}
        @if (selectedSortId === item.id) {
          <i class="pi pi-check text-primary"></i>
        }
      </span>
    </button>
    }
  </div>
</p-drawer>

<button type="button" class="button_mobile" pButton iconOnly (click)="visibleBottom = true">
  <span>مرتبط ترین</span>
  <svg class="text-gray-500 font-bold cursor-pointer" [size]="20" [pIcon]="icons[1]"></svg>
</button>
    </div>

    </div>
    
    <div class="flex flex-col basis-4/6 md:flex-row gap-4 min-w-0">
      <div class="hidden md:block">
  
        <app-filter-products (filtersChange)="onFiltersChange($event)" />
      </div>
  
        <div class="products_view flex-wrap md:flex-col  flex  place-content-center-safe md:place-content-start rounded-xl  shadow-md shadow-indigo-600 min-h-[400px]">
        <div class="filter_product flex hidden md:block flex-wrap gap-2  bg-white rounded-xl p-3 shadow-sm">
              <div class="flex justify-start items-center space-x-2">
                <span class="text-sm text-slate-500 ml-2">مرتب‌سازی:</span>
  
                      @for (item of filter_button_info; track item.id) {
                        <button
                        pButton
                        class="button_relevant"
                        [class.active]="selectedSortId === item.id"
                        [outlined]="selectedSortId !== item.id"
                        (click)="selectSort(item)"
                      >
                        <div class="flex items-center justify-between  w-full space-x-2">
                          <span>{{ item.name }}</span>
                          
                          @if (selectedSortId === item.id) {
                            <i class="pi pi-check text-primary"></i>
                          }
                        </div>
                      </button>
                      }
              </div>
          
        </div>
        <div class="grid grid-cols-1 pb-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 ">

          @for (product of newProducts; track product.id) {
            <div class="px-3">
              <app-card-products
                [product]="product"
                [viewType]="isMobile ? 'compact' : 'default'">
              </app-card-products>
            </div>
          }
        </div>
        </div>
      </div>

  </div>
</div>
