<div class="card-order-home relative">

<p-card class="  min-w-[150px] max-w-[169px] max-w- px-2 h-full rounded shadow-md flex flex-col">
  
  <!-- تصویر محصول -->
  <img 
    [src]="product.image || 'assets/default-product.png'" 
    alt="{{ product.name }}" 
    class="min-w-full h-32 object-cover rounded mt-2 cursor-pointer"
    (click)="goToDetails()"
  />

  <!-- مشخصات محصول -->
  <div class="flex flex-col ">
    <h3 class="text-md font-semibold cursor-pointer text-gray-900" (click)="goToDetails()">{{ product.name }}</h3>
    <p class="text-sm mt-1 text-gray-700">{{ product.description }}</p>
    <span class="text-indigo-600 font-bold mt-2 block">{{ product.price  }} تومان</span>
  </div>

  <!-- دکمه‌ها و Toggle -->
  <div class="card-order flex flex-row justify-between items-center space-x-2 w-full bg-red-600" >
    <div class="w-full flex justify-start items-center">
      <p-button
      styleClass="group overflow-hidden transition-all duration-500 w-12 hover:w-36"
    >
      <div class="flex items-center justify-center gap-2">
        <i class="pi pi-shopping-cart text-lg pr-[4px]"></i>
        <span
          class="max-w-0 overflow-hidden whitespace-nowrap opacity-0 transition-all duration-500 group-hover:max-w-20 group-hover:opacity-100"
        >
          سفارش
        </span>
      </div>
    </p-button>
  </div>

    <p-toggleButton 
      [(ngModel)]="checked" 
      onLabel="" 
      offLabel="" 
      onIcon="pi pi-heart-fill" 
      offIcon="pi pi-heart" 
      class="w-auto">
    </p-toggleButton>
  </div>
</p-card>
</div>