.card-order-home {
    margin: 0 2px;
}
.card-order-home .p-card-body{
    padding: 0;
margin: 0;
}
/* ===========================
   Card - Mobile (Default)
=========================== */
.card-order-home .p-card {
    margin: 5px 6px;
    background-color: #ffffff;
    height: 330px;
    border: 1px solid;
    border-color: #ffffff;
    border-radius: 18px;
    box-shadow: none;
    transition: none;
}

.card-order-home .p-card:hover {
    transform: none;
    box-shadow: none;
    border-color: #e5e7eb;
}

.card-order-home .p-card .p-card-content {
    display: flex;
    margin-left: 4px;
    flex-direction: column;
    justify-content: space-between;
    height: 320px;
}

.card-order-home .card-order {
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.card-order-home .card-order button.p-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-indigo-900);
    background-color: var(--color-white);
    border: 2px dashed var(--color-indigo-200);
    width: 100%;
}

.card-order-home .card-order button.p-button:hover {
    background-color: var(--color-indigo-600);
    color: var(--color-white);
    transform: scale(1.05);
    border-radius: 10px;
}

.card-order-home .card-order .p-togglebutton {
    width: 60px;
    height: 50px;
    padding: 0 10px 0 0;
    border-radius: 50%;
    background: #ffffff;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.2s ease;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

.card-order-home .card-order .p-togglebutton:hover {
    transform: scale(1.05);
    background-color: white;
}

.card-order-home .card-order .p-togglebutton:hover .p-togglebutton-icon {
    transform: scale(1.05);
    color: red;
}

.card-order-home .card-order .p-togglebutton[data-p-checked="true"] .p-togglebutton-icon {
    color: red;
    background-color: white;
}

.card-order-home .card-order .p-togglebutton[data-p-checked="true"] span {
    background-color: white;
}
:host ::ng-deep .cart-toggle-btn .p-button-label {
    opacity: 0 !important;
    transition: opacity 0.2s ease-in-out !important;
  }
  :host ::ng-deep p-button.cart-toggle-btn {
    display: inline-block;
  }
  :host ::ng-deep .cart-toggle-btn:hover .p-button-label,
  :host ::ng-deep .cart-toggle-btn:active .p-button-label {
    opacity: 1 !important;
    transition-delay: 0.25s !important;
  }
/* ===========================
   md و بزرگ‌تر (>=768px)
=========================== */
@media (min-width: 768px) {
    .card-order-home .p-card {
        box-shadow:
            0 4px 6px rgba(0, 0, 0, 0.04),
            0 10px 15px rgba(0, 0, 0, 0.06);
            border: 1px solid #e5e7eb;
        transition: all 0.25s ease;
    }

    .card-order-home .p-card:hover {
        transform: translateY(-3px);
        box-shadow:
            0 8px 12px rgba(0, 0, 0, 0.06),
            0 18px 30px rgba(0, 0, 0, 0.10);
        border-color: #d1d5db;
    }
}
